html {
    background-color: Grey;
    color: rgb(0, 0, 0, 0.9);
}

.github {
    background-color: rgb(255, 255, 255, 0.9);
    border-top: 8px solid black;
    border-bottom: 1px solid black;
}

.github .lista {
    font-size: 1.2em;
}

.github .links {
    background-color: rgb(255, 255, 255, 0.3);
    border-left:5px solid black; 
    border-right:5px solid black ;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

    text-align: center;
}